[submodule "documentation"]
	path = documentation
	url = https://github.com/fum-cloud-project/documentation.git
	branch = main

[submodule "auth-api"]
	path = auth-api
	url = https://github.com/fum-cloud-project/auth-api.git
	branch = master
